<ion-view view-title="Mis Datos" ng-init="fAdmi = 'img/homerlike.png'"  ng-style={'background-color':'black'} >
<ion-content>


<div    class="padding">
  
<center>
    <h1 style="font-size:2em;color:blue;font-weight: 900;">{{usuario.nombre}}</h1>
    <img ng-src="{{fAdmi}}">
    <h3 style="font-size:1em;color:green;font-weight: 900;">Email: {{usuario.email}}</h3>
    <h3 style="font-size:1em;color:red;font-weight: 900;">Creditos : {{usuario.saldo}}</h3>

</center>

 </div>

  </ion-content>
</ion-view>