<ion-view view-title="Listado de Apuestas" ng-style={'background-color':'black'} >
  <ion-content>
    <ion-list>
   <!--
      <ion-item ng-repeat="desafio in desafios" ng-click="VerDesafio({{desafio}})">
ng-click="NuevoDesafio()
-->
 
      <ion-item ng-repeat="desafio in desafios">




        <h4>{{desafio.titulo}}</h4>
        <p>{{desafio.descripcion}}</p>

      </ion-item>
    </ion-list>




  	<button class="btn-nuevoDesafio" "><i class="fa fa-plus fa-2x"></i></button>



  </ion-content>
</ion-view>
